{% extends "layout.html" %}

{% block title %}
  Home
{% endblock %}

{% block main %}
<div class="bg">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class ="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2" class = "active"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <image class="bg-image d-block home center" src="/static/broadway.jpg" alt="First slide">
        <form method="get" action="/">
          <div class="bg-text">
            <button class="btn success glow" type="submit">Welcome to the City of Musicals!</button>
          </div>
          </form>
      </div>
      <div class="carousel-item">
        <image class="bg-image d-block home center" src="/static/ppl.webp" alt="Second slide">
          <form method="get" action="/survey">
            <div class="bg-text">
              <button class="btn success glow">Get Matched with a Musical!</button>
            </div>
          </form>
      </div>
      <div class="carousel-item">
        <image class="bg-image d-block home center" src="/static/home third page.jpeg" alt="Third slide">
        <form method="get" action="/explore">
          <div class="bg-text">
            <button class="btn success glow">Explore Musicals!</button>
          </div>
        </form>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
{% endblock %}