{% extends "layout.html" %}

{% block title %}
    {{ musical["name"] }}
{% endblock %}

{% block main %}
<div class="bg">
    <img class = "hphoto p-3" src="{{ url_for('get_photo', musical_name = musical['name'], photo_type = 'hphoto') }}" alt="musical['name']">
    <div class="row">
    <div class="float-container">
        <div class="float-child">
            <img class = "vphoto_i" src="{{ url_for('get_photo', musical_name = musical['name'], photo_type = 'vphoto') }}" alt="musical['name']">
        </div>

            <div class="float-child2" >
                <div class="text-center t">
                    <h1>{{ musical["name"] }}</h1>
                    <h4>
                        Language:
                         <button class="button1">
                            {{ musical["language"] }}
                        </button>
                    </h4>
                    <h4>Setting: <button class="button1"> {{ musical["setting"] }} </button> </h4>
                    <h4>Theme:
                        {% for theme in themes %}
                        <button class="button1">
                             {{ theme["theme"] }}
                        </button>
                        {% endfor %}
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="float-none center1 t">
            <div class="d text-left">
                <h >Description:</h>
                <p>{{ musical["description"] }}</p>
            </div>
        </div>
    </div>

</div>


{% endblock %}