{% extends "layout.html" %}

<!-- {% block javascript %}
  <script src="getimage.js"></script>
{% endblock %} -->

{% block title %}
    Explore
{% endblock %}

{% block main %}
  <div class="bg-image h-100 bg-i">
    <div class="mask d-flex align-items-center h-100">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="card">
              <div class="card-header">

                <form action="/explore" method="post">
                  <div class="input-group input-group-lg" >
                    <input type="text" name="search" class="form-control form-control-lg rounded" placeholder="Type Keywords"
                      aria-label="Type Keywords" aria-describedby="basic-addon2" />
                    <span class="input-group-text border-0" id="basic-addon2"><i class="fa fa-search"></i></span>
                  </div>

                  <div class="card-body p-4">
                    <h6 class="text-muted text-uppercase mt-3 mb-4">ADVANCED SEARCH</h6>
                    <div class="row">

                      <div class="col-md-4 mb-3">
                        <div class="form-group">
                          <div class="dropdown">
                            <select name = "language" class="form-control dropdown-item dropdown-menu btn btn-outline-info btn-lg btn-block dropdown-toggle">
                              <option disabled selected>Language</option>
                                {% for l in language %}
                                  <option value="{{l}}">{{ l }}</option>
                                {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 mb-3">
                        <div class="form-group">
                          <div class="dropdown">
                            <select name ="theme" class="form-control dropdown-item dropdown-menu btn btn-outline-info btn-lg btn-block dropdown-toggle">
                              <option disabled selected>Theme</option>
                              {% for t in theme %}
                              <option value = "{{ t }}">{{ t }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 mb-3">
                        <div class="form-group">
                          <div class="dropdown">
                            <select name="setting" class="form-control dropdown-item dropdown-menu btn btn-outline-info btn-lg btn-block dropdown-toggle">
                              <option disabled selected>Setting</option>
                              {% for s in setting %}
                              <option value="{{s}}">{{ s }}</option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-4">
                      <p class="text-muted mb-0"><span class="text-info"> </span></p>
                      <div>
                        <form action="/explore" method="get">
                          <button name ="reset" type="submit" class="btn btn-link text-body" data-mdb-ripple-color="dark">Reset</button>
                        </form>
                        <button class="btn btn-info" type="submit">Search</button>
                      </div>
                    </div>
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Displays by default all the musicals, after a search is completed it displays the musicals that are in the search results -->
  <div class ="bg">
    {% if search_success == false %}
      <p class ="white">Sorry, there are no results that match your parameters. Try broadening your search!</p>
    {% endif %}
    {% for result in results %}
        <div class="card mb-3 px-auto py-auto shrinkcard center ">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ url_for('get_photo', musical_name = result['name'], photo_type = 'vphoto') }}" class="img-fluid rounded-start vphoto" alt= "{{ result['name'] }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <form action="{{ url_for('musical_info',musical_name = result['name']) }}" method="post">
                  <button class="btn btn-link text-dark" type="submit" name="musical_name" value="{{ result['name'] }}" >
                    <h5 class="card-title">{{ result["name"] }}</h5>
                  </button>
                </form>

                <p class="card-text"> {{ result["description"] }}</p>
                <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                </div>
            </div>
            </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}




